<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="KzLibrary.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <KzLibrary.My.MySettings>
            <setting name="AppTitle" serializeAs="String">
                <value />
            </setting>
            <setting name="StartPoint" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="StartSize" serializeAs="String">
                <value>640, 480</value>
            </setting>
            <setting name="StartState" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="TextFileFilter" serializeAs="String">
                <value>Text files (*.txt)|*.txt|Web files (*.htm, *.html, *.css)|*.htm;*.html;*.css|Office filles (*.doc, *.docx)|*.doc;*.docx|All files (*.*)|*.*</value>
            </setting>
            <setting name="FileInitialDirectory" serializeAs="String">
                <value />
            </setting>
        </KzLibrary.My.MySettings>
    </userSettings>
</configuration>